@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

.Title{
    position: absolute;
    width: 292px;
    height: 112px;
    left: 147px;
    top: 76px;

    font-family: Damion;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 132px;

    color: #1565D9;
}